@tailwind base;
@tailwind components;
@tailwind utilities;

Satoshi Regular @font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Satoshi Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Satoshi Black */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.woff2') format('woff2'),
    url('/fonts/Satoshi-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Satoshi Medium */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('/fonts/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Satoshi Light */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.woff2') format('woff2'),
    url('/fonts/Satoshi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Satoshi Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
    url('/fonts/Satoshi-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Satoshi Bold Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
    url('/fonts/Satoshi-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* Satoshi Black Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
    url('/fonts/Satoshi-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

/* Satoshi Medium Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
    url('/fonts/Satoshi-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

/* Satoshi Light Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-LightItalic.woff2') format('woff2'),
    url('/fonts/Satoshi-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* Satoshi Variable */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}

/* Satoshi Variable Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/fonts/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 100 900;
  font-style: italic;
}

body {
  @apply font-sans;
}


@keyframes gradientBG {
  0% {
    background-position: 0% 50%, 100% 50%;
    background-size: 100% 100%, 100% 100%;
  }

  50% {
    background-position: 50% 100%, 50% 0%;
    background-size: 120% 120%, 120% 120%;
  }

  100% {
    background-position: 0% 50%, 100% 50%;
    background-size: 100% 100%, 100% 100%;
  }
}

/* .animate-gradient {
  background: 
  radial-gradient(circle at 100% 0%, #4f0c79, #000000, transparent 70%),
  radial-gradient(circle at 0% 100%, #000000, #350b50, transparent 70%), 
  radial-gradient(circle at 0% 100%, #4f0c79, #000000);
    
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  animation: gradientBG 5s ease infinite;
  height: 100vh;
  width: 100%;
} */

.animate-gradient {
  background:
    radial-gradient(circle at 100% 0%, #4f0c79, #000000, transparent 70%),
    radial-gradient(circle at 0% 100%, #000000, #350b50, transparent 70%),
    radial-gradient(circle at 100% 100%, #4f0c79, #000000);
  background-size: cover;
  height: 100%;
  width: 100%;
}


.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  /* Couleur de bordure par défaut */
  color: #666;
  /* Couleur de texte par défaut */
}

.circle.completed {
  border-color: #4CAF50;
  /* Vert */
  color: #4CAF50;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
}

.line.completed {
  background-color: #4CAF50;
  /* Vert */
}

.spinner {
  font-size: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle,
.line {
  transition: all 0.5s ease;
}

button.disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #888;
}